Repository BooheeFE/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: use redux demo
  src/page/index/index.jsx
Due: none

chore: update webpack loader exclude
  config/webpack/webpack.base.config.js
Due: eslint --fix

chore: add webpack Dll
  config/webpack/webpack.base.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: add webpack happypack
  config/webpack/webpack.base.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: add HMR
  src/main.js
Due: eslint --fix

chore: change happypack threads
  config/webpack/webpack.base.config.js
Due: eslint --fix

chore: add css-extract
  config/webpack/webpack.base.config.js
  config/webpack/webpack.prod.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: remove @babel/plugin-transform-runtime
  package.json
  yarn.lock
Due: none

chore: remove redux-saga
  package.json
  yarn.lock
Due: none

chore: adjust package.json structure
  package.json
Due: none

chore: update version
  package.json
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore: add actions alias
  config/webpack/webpack.base.config.js
  jsconfig.json
  src/page/index/index.jsx
Due: eslint --fix

chore: add webpack default extensions
  config/webpack/webpack.base.config.js
  src/router.js
Due: eslint --fix

style: capitalize the first letter
  src/page/index/index.jsx
Due: none

chore: update dependencies version
  package.json
  yarn.lock
Due: none

chore: upgrade eslint-config-booheefe
  package.json
  yarn.lock
Due: none

refactor: change the react suffix to jsx
  config/webpack/webpack.base.config.js
  src/main.jsx
  src/router.jsx
Due: eslint --fix

style: format the code according to eslint
  src/api/index.js
  src/redux/acitons/demo.js
  src/redux/reducers/demo.js
  src/redux/reducers/index.js
Due: eslint --fix

Update README.md
  README.md
Due: none

refactor: rename
  config/webpack/webpack.base.config.js
  jsconfig.json
  src/page/index/index.jsx
  src/redux/actions/demo.js
  src/redux/actions/index.js
Due: eslint --fix

chore: update lint
  .eslintignore
  .stylelintignore
  package.json
  yarn.lock
Due: none

chore: udpate sass loader
  config/webpack/webpack.base.config.js
Due: eslint --fix

chore: add eslint-plugin-react
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix

refactor: rename utils dir to tools
  config/webpack/webpack.base.config.js
  src/api/index.js
  tools/http-server.js
Due: eslint --fix

chore: update lint script
  .lintstagedrc
  package.json
Due: none

chore: add @babel/plugin-syntax-dynamic-import of dependencies
  .babelrc
  package.json
  yarn.lock
Due: none

chore: add babel-eslint
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix

feat: add history
  jsconfig.json
  package.json
  tools/history.js
Due: eslint --fix

chore: add react-loadable
  config/webpack/webpack.base.config.js
  package.json
  src/router/index.jsx
  src/router/routers.js
  yarn.lock
Due: eslint --fix

feat: add alias
  config/webpack/webpack.base.config.js
  jsconfig.json
Due: eslint --fix

refactor: rename pages
  src/pages/index/index.jsx
  src/pages/index/index.scss
Due: stylelint --fix

refactor: remove abandon code
  src/router.jsx
Due: none

feat: add chunk-loading component
  components/chunk-loading/index.jsx
  components/chunk-loading/index.scss
  src/router/index.jsx
Due: stylelint --fix

chore: add clean-webpack-plugin
  config/webpack/webpack.prod.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: udpate webpackChunkName
  config/webpack/webpack.prod.config.js
  src/router/index.jsx
Due: eslint --fix

chore: add MinChunkSizePlugin
  config/webpack/webpack.prod.config.js
Due: eslint --fix

style: format
  src/main.jsx
Due: none

refactor: destructuring assignment
  components/chunk-loading/index.jsx
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
