Repository BooheeFE/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "eslint --fix",
      "git add"
    ],
    "*.scss": [
      "stylelint --fix",
      "git add"
    ]
  }
}

chore: update babel config
  .babelrc
  config/webpack/webpack.base.config.js
Due: eslint --fix

chore: add utils resolve alias
  config/webpack/webpack.base.config.js
Due: eslint --fix

style: lint
  src/actions/index.js
  src/main.js
  src/page/index/index.js
  src/page/index/index.scss
  src/router.js
Due: eslint --fix, stylelint --fix

chore: update .gitignore
  .gitignore
Due: none

chore: update babel config
  config/webpack/webpack.base.config.js
Due: eslint --fix

chore: add build script
  package.json
Due: none

chore: add webpack-bundle-analyzer
  package.json
  yarn.lock
Due: none

chore: update httpServer config
  utils/http-server.js
Due: eslint --fix

refactor: rename
  src/main.js
  src/router.js
Due: eslint --fix

chore: add postcss config
  config/postcss.config.js
  config/webpack/webpack.base.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: px to vw
  config/postcss.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: update selectorBlackList
  config/postcss.config.js
Due: eslint --fix

docs: update LICENSE
  LICENSE
Due: none

chore: add redux dependencies
  package.json
  yarn.lock
Due: none

chore: add jsconfig for vscode
  jsconfig.json
Due: none

chore: add project config
  config/project/development.js
  config/project/index.js
  config/project/production.js
  config/project/qa.js
Due: eslint --fix

refactor: change the react suffix to jsx
  src/page/index/index.jsx
  src/router.js
Due: eslint --fix

refactor: change the request dir name to api
  src/api/index.js
Due: eslint --fix

chore: change api webpack alias
  config/webpack/webpack.base.config.js
Due: eslint --fix

chore: add project config webpack alias
  config/webpack/webpack.base.config.js
Due: eslint --fix

chore: change webpack publicPath
  config/webpack/webpack.base.config.js
  config/webpack/webpack.dev.config.js
Due: eslint --fix

feat: add api demo
  src/api/demo.js
  src/api/index.js
Due: eslint --fix

feat: add api demo proxy
  config/webpack/webpack.dev.config.js
Due: eslint --fix

feat: add online reset css
  public/index.html
Due: none

chore: update lint
  package.json
  yarn.lock
Due: none

feat: change http server return data
  utils/http-server.js
Due: eslint --fix

chore: add project config webpack alias
  jsconfig.json
Due: none

chore: update stylelint
  package.json
  yarn.lock
Due: none

feat: add global scss
  public/assets/css/global.scss
Due: stylelint --fix

feat: add actionTypes
  src/redux/actionTypes.js
Due: eslint --fix

feat: add redux middlewares
  src/redux/middlewares.js
Due: eslint --fix

feat: add redux enhancer
  src/redux/enhancer.js
Due: eslint --fix

feat: add demo initial state
  src/redux/initialState.js
Due: eslint --fix

feat: add redux demo
  src/redux/acitons/demo.js
  src/redux/reducers/demo.js
Due: eslint --fix

feat: add redux
  src/main.js
  src/redux/acitons/index.js
  src/redux/reducers/index.js
  src/redux/store.js
Due: eslint --fix

style: add annotate
  src/api/demo.js
  src/page/index/index.scss
Due: eslint --fix, stylelint --fix
